<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<context-param>
		<param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Prime Faces JSF mapping
	
	<filter>
		<filter-name>primeFacesFileUploadFilter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>primeFacesFileUploadFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>  -->
	
	
	<!-- JSF mapping -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImageUploadServlet</servlet-name>
		<servlet-class>at.bibliothek.services.utils.ImageUploadServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<!-- Map these files with JSF  -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/pages/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ImageUploadServlet</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>

<!--  MIME Mapping, see http://stackoverflow.com/questions/21587417/warning-jsf1091-no-mime-type-could-be-found-for-file-qcformdean-jsp-but-wait  
	<mime-mapping>
	    <extension>xhtml</extension>
	    <mime-type>application/xml</mime-type>
	</mime-mapping>
	
	<mime-mapping>
	    <extension>jsp</extension>
	    <mime-type>application/xml</mime-type>
	</mime-mapping>  
	
	<mime-mapping>
	    <extension>jsp{or the extension of file}</extension>
	    <mime-type>text/html</mime-type>
  	</mime-mapping> -->
  	
	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>/index.xhtml</welcome-file>
	</welcome-file-list>
	
	    
    <security-constraint>
		<display-name>Restrict direct access to the /pages/new_customer.jsf page</display-name>
		<web-resource-collection>
			<web-resource-name>The /resources folder.</web-resource-name>
			<url-pattern>/pages/new_customer.jsf</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>general</role-name>
		</auth-constraint>
	</security-constraint>

    <login-config>
		<auth-method>FORM</auth-method>
		<realm-name>jBossJaasBibliothekRealm</realm-name>
		<form-login-config>
			<form-login-page>/login.jsf</form-login-page>
			<form-error-page>/error.jsf</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-role>
		<role-name>general</role-name>
	</security-role>
    

</web-app>
