/** Resource:
	http://stackoverflow.com/questions/29979355/how-do-i-align-my-css-drop-down-menu-in-the-center
**/

.dropdownmenu {
	padding-top: 1em;
	padding-bottom: 5em;
	margin-left: auto;
	margin-right: auto;
}

.dropdownmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.dropdownmenu ul li {
	position: relative;
	display: inline-block;
    width: 200px;
    line-height: 30px;
	
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica;

	/**	-- below properties are taken from prime faces datatable css **/
  /*	padding: 4px 10px;
  	overflow: hidden; **/
    border-width: 1px;
    border-style: solid;
    background-color: rgba(194,194,194,.5);
}

.dropdownmenu ul li.topmenu a {
	display: block;
	text-decoration: none;
}

.dropdownmenu ul li.topmenu a:hover {
	background-color: #AACADB;
}

.dropdownmenu .topmenu ul {
	position: absolute;	
	top: 100%;
    left: 50%;
    margin-left: -101px; /** for negative margins, see http://stackoverflow.com/questions/11495200/how-do-negative-margins-in-css-work-and-why-is-margin-top-5-margin-bottom5 **/
    display: none;
}

.dropdownmenu ul li:hover ul {
	display: block;
}


#footer {
	padding-top: 10em;
	position: relative;
}

#footer p {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica;
}


h2 {
	color: #440000;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

th.center {
	color: #440000;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;

}

td.center {
	color: #440000;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
