<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<error-page>
		<!--  nur mit Servlet 3.0  kann man eine allgemeine errorPage eingeben:-->
		<location>/general-error.jsp</location>
	</error-page>
</web-app>
